.body {
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-family: Georgia, "Times New Roman",
          Times, serif; */
    background-color:white;}

.header {  
 
  color: brown; }
.main{ 
 
  color: blue;}    
.footer  {  
  
  color: black;
  border-top: thin dotted; } 

.containerH {
  max-width: 1440px;
  margin: 0 auto;
  background-color:gray;
  color: black;}
.containerM {
    max-width: 1440px;
    margin: 0 auto;
    background-color:white;}
.containerF {
      max-width: 1440px;
      margin: 0 auto;
      background-color:gray;}

.img {
        width: 100px;}